@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Typography */
    --font-jakarta: "Jakarta", sans-serif;
    --font-jakarta-bold: "Jakarta-Bold", sans-serif;
    --font-jakarta-extra-bold: "Jakarta-ExtraBold", sans-serif;
    --font-jakarta-extra-light: "Jakarta-ExtraLight", sans-serif;
    --font-jakarta-light: "Jakarta-Light", sans-serif;
    --font-jakarta-medium: "Jakarta-Medium", sans-serif;
    --font-jakarta-semibold: "Jakarta-SemiBold", sans-serif;

    /* Base Colors */
    --background: 242 242 247;
    --foreground: 0 0 0;
    --card: 255 255 255;
    --card-foreground: 8 28 30;
    --popover: 230 230 235;
    --popover-foreground: 0 0 0;
    --primary: 0 123 254;
    --primary-foreground: 255 255 255;
    --secondary: 45 175 231;
    --secondary-foreground: 255 255 255;
    --muted: 175 176 180;
    --muted-foreground: 142 142 147;
    --accent: 255 40 84;
    --accent-foreground: 255 255 255;
    --destructive: 255 56 43;
    --destructive-foreground: 255 255 255;
    --border: 230 230 235;
    --input: 210 210 215;
    --ring: 230 230 235;

    /* Primary Colors */
    --color-primary-100: #F5F8FF;
    --color-primary-200: #EBF4FF;
    --color-primary-300: #C3D9FF;
    --color-primary-400: #9BBFFF;
    --color-primary-500: #0286FF;
    --color-primary-600: #6A85E6;
    --color-primary-700: #475A99;
    --color-primary-800: #364573;
    --color-primary-900: #242B4D;

    /* Secondary Colors */
    --color-secondary-100: #F8F8F8;
    --color-secondary-200: #F1F1F1;
    --color-secondary-300: #D9D9D9;
    --color-secondary-400: #C2C2C2;
    --color-secondary-500: #AAAAAA;
    --color-secondary-600: #999999;
    --color-secondary-700: #666666;
    --color-secondary-800: #4D4D4D;
    --color-secondary-900: #333333;

    /* Success Colors */
    --color-success-100: #F0FFF4;
    --color-success-200: #C6F6D5;
    --color-success-300: #9AE6B4;
    --color-success-400: #68D391;
    --color-success-500: #38A169;
    --color-success-600: #2F855A;
    --color-success-700: #276749;
    --color-success-800: #22543D;
    --color-success-900: #1C4532;

    /* Danger Colors */
    --color-danger-100: #FFF5F5;
    --color-danger-200: #FED7D7;
    --color-danger-300: #FEB2B2;
    --color-danger-400: #FC8181;
    --color-danger-500: #F56565;
    --color-danger-600: #E53E3E;
    --color-danger-700: #C53030;
    --color-danger-800: #9B2C2C;
    --color-danger-900: #742A2A;

    /* Warning Colors */
    --color-warning-100: #FFFBEB;
    --color-warning-200: #FEF3C7;
    --color-warning-300: #FDE68A;
    --color-warning-400: #FACC15;
    --color-warning-500: #EAB308;
    --color-warning-600: #CA8A04;
    --color-warning-700: #A16207;
    --color-warning-800: #854D0E;
    --color-warning-900: #713F12;

    /* General Colors */
    --color-general-100: #CED1DD;
    --color-general-200: #858585;
    --color-general-300: #EEEEEE;
    --color-general-400: #0CC25F;
    --color-general-500: #F6F8FA;
    --color-general-600: #E6F3FF;
    --color-general-700: #EBEBEB;
    --color-general-800: #ADADAD;

    /* Android Colors */
    --android-background: 249 249 255;
    --android-foreground: 0 0 0;
    --android-card: 255 255 255;
    --android-card-foreground: 24 28 35;
    --android-popover: 215 217 228;
    --android-popover-foreground: 0 0 0;
    --android-primary: 0 112 233;
    --android-primary-foreground: 255 255 255;
    --android-secondary: 176 201 255;
    --android-secondary-foreground: 20 55 108;
    --android-muted: 193 198 215;
    --android-muted-foreground: 65 71 84;
    --android-accent: 169 73 204;
    --android-accent-foreground: 255 255 255;
    --android-destructive: 186 26 26;
    --android-destructive-foreground: 255 255 255;
    --android-border: 215 217 228;
    --android-input: 210 210 215;
    --android-ring: 215 217 228;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0 0;
      --foreground: 255 255 255;
      --card: 21 21 24;
      --card-foreground: 255 255 255;
      --popover: 40 40 42;
      --popover-foreground: 255 255 255;
      --primary: 3 133 255;
      --primary-foreground: 255 255 255;
      --secondary: 100 211 254;
      --secondary-foreground: 255 255 255;
      --muted: 70 70 73;
      --muted-foreground: 142 142 147;
      --accent: 255 52 95;
      --accent-foreground: 255 255 255;
      --destructive: 254 67 54;
      --destructive-foreground: 255 255 255;
      --border: 40 40 42;
      --input: 55 55 57;
      --ring: 40 40 42;

      --android-background: 0 0 0;
      --android-foreground: 255 255 255;
      --android-card: 16 19 27;
      --android-card-foreground: 224 226 237;
      --android-popover: 39 42 50;
      --android-popover-foreground: 224 226 237;
      --android-primary: 3 133 255;
      --android-primary-foreground: 255 255 255;
      --android-secondary: 28 60 114;
      --android-secondary-foreground: 189 209 255;
      --android-muted: 216 226 255;
      --android-muted-foreground: 139 144 160;
      --android-accent: 83 0 111;
      --android-accent-foreground: 238 177 255;
      --android-destructive: 147 0 10;
      --android-destructive-foreground: 255 255 255;
      --android-border: 39 42 50;
      --android-input: 55 55 57;
      --android-ring: 39 42 50;
    }
  }
}
